<a type="button" class="btn btn-primary" href="contact-form" id="newrecord-btn">Add contact</a>
<div class="container-fluid">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of contacts">
          <td scope="row">{{ element.id }}</td>
          <td scope="row">{{ element.firstName }}</td>
          <td scope="row">{{ element.lastName }}</td>
          <td scope="row">
            <button type="button" class="btn btn-danger" (click)="deleteContact(element.id)">Delete</button>
            <a type="button" class="btn btn-warning" href="contact-form/{{element.id}}">Edit</a>
            <button type="button" class="btn btn-primary">Details</button>
        </td>
        </tr>
        </tbody>
  </table>
</div>
